/* 
    ==============
    Heading style
    ==============
*/

.heading1 {
    color: orange;
}

.heading1 {
    color: brown;
}

.headings.heading1 {
    color: red;
}

.headings .heading1 {
    color: cyan;
}

h1, h2 {
    color: red;
}

h1 {
    color: olive !important;
    color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.9);

    color: #d23a47;

    background-color: red;
    border-color: red;

}
