/* 
-------------- Heading --------------
*/
/*
.heading1, .heading2, .heading3 {
    color: orange;
}

.heading3 {
    color: red;
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

#homepage_title {
    color: green;
}
*/

/* h1 {
    color: purple;
}

h1.heading1.red {
    color: orange;
}

#homepage_title {
    color: pink;
}

.heading1 {
    color: green;
}

.heading1 {
    color: blue;
}

h1 {
    color: red;
}

.card {
    background-color: lightcyan;
}

.card-title {
    color: green;
}

.card.card-red {
    color: red;
}

.card .card-title {
    text-decoration: underline;
}

.underlined {
    text-decoration: underline;
} */


/* Paragraph */