.heading1 {
    background-color: purple;
}

.heading2 { 
    background-color: red;
}

.heading3 {
    display: block;
    width: 50%;
    height: 100px;
    background-color: salmon;
}

.littletext {
    background-color: orange;
}